:root{
    --gold:#86651e;
}

body{
    background-color: black;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#86651e;
    padding:1rem;
    margin:2rem 0;
    background:rgb(33 26 9);;
}

.heading span{
    color:var(--gold);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--gold);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:black;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-size: 3rem;
    color:white;
    font-weight: bolder;
}

header .logo span{
    color:var(--gold);
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:white;
}

header .navbar a:hover{
    color:var(--gold);
}

header .icons a{
    font-size: 2.5rem;
    color:white;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--gold);
}

header #toggler{
    display: none;
}


.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color:rgb(220, 207, 177);
}

.home .content span{
    font-size: 3.5rem;
    color:var(--gold);
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:#e8dfdf;
    padding:1rem 0;
    line-height: 1.5;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap:1.5rem;
    align-items: flex-start;
    justify-content: center;
 }
 
 .menu .box-container .box{
    background-color: rgb(29, 19, 19);
    border-radius: .5rem;
    padding:2rem;
    text-align: center;
    position: relative;
 }
 
 .menu .box-container .box img{
    width: 100%;
    margin-bottom: 1rem;
 }
 
 .menu .box-container .box .price{
    background-color: rgb(125, 108, 108);
    border-radius: .5rem;
    padding:.5rem 1rem;
    font-size: 1.7rem;
    color: black;
    position: absolute;
    top:1rem; left:1rem;
 }
 
 .menu .box-container .box .price span{
    font-size: 2.5rem;
 }
 
 .menu .box-container .box .name{
    font-size: 2rem;
    color:var(--gold);
    margin:0.5rem 0;
 }
 
 .menu .box-container .box form{
    display: flex;
    gap:1rem;
 }
 
 .menu .box-container .box form .qty{
    width: 8rem;
    padding:1rem;
    margin-top: 1rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    color:black;
 }

.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}


.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:silver;
}

.about .row .content p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}



.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #131111;
    border-radius: .5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:whitesmoke;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
    background-color: #423c3c;
}

.contact .row form .box:focus{
    border-color: var(--gold);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:var(--gold);
    font-size: 2.5rem;
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    color:whitesmoke;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color:var(--gold);
    text-decoration: underline;
}

.footer .box-container .box  img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding-bottom: 9rem;
}

.footer .credit span{
    color:var(--gold);
}



/* media queries  */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .home{
        background-position: left;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
    
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}